.title-diagnostic{
  align-self: center;
  justify-content: center;
  justify-self: center;
  color: white;
  margin-bottom: 20px;   
}

.select-analysis1{
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  background-color: #3a74ff;

}

.div-analysis{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.text-analysis{
  text-align: center;
  margin-bottom: 20px;
}